<main id="error__404">
  <div class="content-error">
    <div class="error_code">404</div>
    <h2>{{ mensaje }}</h2>
     <p>Parece que estas perdido</p>
    <a href="/" class="btn btn-azul">Regresar a la pagina principal</a>
  </div>
  <div class="box_astronaut">
      <img class="object_astronaut" src="/img/astronauta.png" width="140px">
   </div>
</main>