<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Tu Email" required>
        </div>
        <div class="campo">
            <label for="password">E-mail</label>
            <input type="password" name="password" id="password" placeholder="Tu Pasword" required>
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crea una Cuenta</a>
            <a href="/reestablecer-password">Recuperar Password</a>
        </div>
        <div class="campo">
            <input  type="submit" value="Acceder" class="btn btn-azul">
        </div>
         {{!-- <div class="campo">
             <p class="title-sociales">O accede con </p>
         </div> --}}
         {{!-- <div class="campo auth-sociales">
            <a href="">
                <i class="fab fa-linkedin"></i>
                Linkedin
            </a>
            <a href="">
                <i class="fab fa-google"></i>
                Google
            </a>
            <a href="">
                <i class="fab fa-github-square"></i>
                Github
            </a>
        </div> --}}
    </form>
</main>