<main class="contenedor">
  <form action="/reestablecer-password" method="POST" class="default-form">
     <div class="campo">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Tu Email" required>
        </div>
          <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer Password" class="btn btn-azul">
        </div>
  </form>
</main>